.crt-parallaxvideo{
height: 550px;
padding-bottom: 100px;
padding-top: 0px;
}
.crt-parallaxvideo video{
min-width: 100%;
position: fixed;
top:-250;
z-index: -100;
}
.crt-parallaxvideo h1 {
color: #053f80;
font-size: 76px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

/*.plax.ccparallax-one {
background-image: url("../images/paxallax1.jpg");
}*/
.plax.ccparallax {
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 150px;
padding-top: 150px;
background-color: #2a8fbd;
background-blend-mode: hard-light;
}
.plax.content {
background: none repeat scroll 0 0 #2581e8;
padding: 42px 0;
background: linear-gradient(180deg, rgba(240,183,161,.8) 0%,rgba(140,51,16,.8) 400px,rgba(27, 30, 33, 1) 950px) 0% 0% / 100% 100%, url('/img/dota2background.jpg') no-repeat;
-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
background-color: #1B1E21;
}
.ccparallax h1 {
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  mix-blend-mode: soft-light;
}
