<head>
	<% include ../partials/head %>
</head>
<body  background="/img/ui/footer_lodyas.png">
	<% include ../partials/google-analytics %>
	<% include ../partials/header %>
  <div class="container">
		<div class="row">
			<div class="col-md-3">
        <div class="list-group">
          <a href="/admin/account" class="list-group-item active">Inicio</a>
          <a href="/admin/players" class="list-group-item">Lista jugadores</a>
          <a href="/admin/leagues" class="list-group-item">Lista competencias</a>
          <a href="#" class="list-group-item">Lista noticias</a>
          <a href="#" class="list-group-item">Editar información personal</a>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  <% include ../partials/bootstrapjs %>
</body>
