<div id="carousel1" class="carousel slide" data-ride="carousel">
  
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
    <li data-target="#carousel1" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" >
      <div class="blend" style="background:linear-gradient(to bottom, rgba(180, 67, 53, 0.2), rgba(38, 38, 38,0.9)), url('/img/carousel/copa.png') no-repeat; background-size: cover; height:500px;">
        <div class="carousel-caption">
          <h3>Copa D2EG 4.1</h3>
          <p>Equipos de todo lugar luchando por el honor de ser campeón.</p>
        </div>
      </div>
    </div>

    <div class="item">
      <div style="background: linear-gradient(to bottom, rgba(180, 67, 53, 0.2), rgba(38, 38, 38,0.9)), url('/img/carousel/2.jpg') no-repeat; background-size: cover; height:500px;" class="blend">
        <div class="carousel-caption">
          <h3>Última Actualización</h3>
          <p>Continua el desbalanceo...</p>
        </div>
      </div>
    </div>

  </div>
</div>
