<div class="panel panel-success">
  <div class="panel-heading"><img src="img/icon/heroes/legion_commander_icon.png" width="16"> Salón de Honor</div>
  <div>
    <div id="carouselcamp" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carouselcamp" data-slide-to="0" class="active"></li>
        <li data-target="#carouselcamp" data-slide-to="1"></li>
        <li data-target="#carouselcamp" data-slide-to="2"></li>
        <li data-target="#carouselcamp" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="img/campeones/d2eg4.png" alt="Chania">
        </div>
        <div class="item">
            <img class="img-responsive" src="img/campeones/d2eg3.png" alt="Chania">
        </div>
        <div class="item">
          <img class="img-responsive" src="img/campeones/d2eg2.png" alt="Chania">
        </div>
        <div class="item">
          <img class="img-responsive" src="img/campeones/d2eg1.png" alt="Chania">
        </div>
      </div>
    </div>
  </div>
</div>
