<div class=" col-md-6" style="margin-bottom: 20px;">
  <div class="panel panel-primary">
    <div class="panel-heading"><img src="img/social/youtube-play.png" width="16"> Youtube</div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZHAI6JttBLA?rel=0&amp;controls=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
</div>
