<div class="panel panel-primary">
  <div class="panel-heading">Twitch</div>
  <div class="panel-body">
    <div id="carousel-envivo" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <iframe src="https://player.twitch.tv/?channel=d2egcl" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
