<% include partials/head %>
<body  background="img/bg.gif">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6&appId=837121559742474";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<% include partials/header %>
	<div class="container">
		<div class="row">
		  <div class="panel panel-info">
		    <div class="panel-heading">Publicidad</div>
		    <div class="panel-body">
		      Tu anuncio podria estar aquí.
		    </div>
		  </div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<% include partials/panel-principal %>
					<div class="col-md-4">
						  <% include partials/panel-campeones %>
					</div>
					<div class="col-md-8">
					<% include partials/panel-twitch %>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="panel panel-info">
					  <div class="panel-heading">Publicidad</div>
					  <div class="panel-body" ><p>Tu anuncio podría estar aquí.</p></div>
					</div>
					<% include partials/panel-auspiciadores %>
					<div class="panel panel-info">
						<div class="panel-heading"><img src="img/icon/heroes/broodmother_icon.png" width="16"> Redes Sociales</div>
						<div class="panel-body">
							<div class="fb-page" data-href="https://www.facebook.com/d2egcl/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/d2egcl/"><a href="https://www.facebook.com/d2egcl/">Dota 2 Elite Gamers</a></blockquote></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include partials/bootstrapjs %>
</body>
