<head>
	<link rel="stylesheet" href="/css/parallax.css">
	<% include partials/head %>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

</head>
<body id="home" onscroll="changeNav();">

	<% include partials/google-analytics %>
	<% include partials/facebook %>
	<% include partials/header %>

	<div class="crt-parallaxvideo">
		<video autoplay muted loop>
			<source src="/video/intro.mp4" type="video/mp4">
			<source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
		</video>
	</div>

	<div class="plax-content" style="background:#1B1E21;-webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);">
		<div class="container">
		<!-- <canvas id="projector">Your browser does not support the Canvas element.</canvas> -->
			<% include partials/publicidad-top %>

			<div class="row">

				<div class="col-md-9">

					<div class="row">
						<div class=" col-md-12">
							<div class="panel panel-danger">
								<div class="panel-heading">Destacados</div>
								<div class="panel-body" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
									<% include partials/panel-principal %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<% include partials/sidebar %>
			</div>
		</div>
	</div>

	<% include partials/footer %>
	<% include partials/bootstrapjs %>

	<script>
		// Twitch-API
		// GET https://api.twitch.tv/kraken/streams/d2egcl
		// If user is streaming now, the page will show her stream with chat.
		var xmlhttp = new XMLHttpRequest();
		var urlTwitchStream = "https://api.twitch.tv/kraken/streams/d2egcl";
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
				var streamInfo = JSON.parse(xmlhttp.responseText);
				if(streamInfo.stream != null){
					document.getElementById("stream").innerHTML =
					"<div class=\"panel panel-danger\"><div class=\"panel-heading\">EN DIRECTO</div><div class=\"panel-body\"><div class=\"col-md-8\"><div class=\"embed-responsive embed-responsive-16by9\"><iframe class=\"embed-responsive-item\" src=\"https://player.twitch.tv/?channel=d2egcl\" frameborder=\"0\" scrolling=\"no\"></iframe><a href=\"https://www.twitch.tv/d2egcl?tt_medium=live_embed&tt_content=text_link\" style=\"padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;\">Watch live video from d2egcl on www.twitch.tv</a></div></div><div class=\"col-md-4\"><iframe src=\"https://www.twitch.tv/d2eg/chat?popout=\" frameborder=\"0\" width=\"100%\" style=\"height:400;\" scrolling=\"no\" ></iframe></div></div></div>";
				}
			}
		};
		xmlhttp.open("GET", urlTwitchStream, true);
		xmlhttp.send();
		function changeNav(){
			if(document.getElementById("home").scrollTop>100){
				document.getElementById("navbar").backgroundColor = "blue";

			}
			if(document.getElementById("home").scrollTop<100){
				document.getElementById("navbar").backgroundColor = "red";
			}
		}
	</script>

	<script>
	    $(document).ready(function(){
	      $(window).scroll(function() { // check if scroll event happened
	        if ($(document).scrollTop() > 300) { // check if user scrolled more than 50 from top of the browser window
	          $("#navbar").css("background", "url('/img/ui/noisy_net.png') repeat"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
	        } else {
	          $("#navbar").css("background", "transparent"); // if not, change it back to transparent
	        }
	      });
	    });
	</script>
</body>
