<% include partials/head %>
<body  background="img/bg.gif">
<div id="home" class="container">
	<% include partials/header %>
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<% include partials/panel-principal %>
				<div class="col-md-4">
				<% include partials/panel-campeones %>
				</div>
				<div class="col-md-4">
				<% include partials/panel-twitch %>
				</div>
				<div class="col-md-4">
				<% include partials/panel4 %>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="navbar-inverse scroll-me" >
				<div class="container-fluid" >
					<div class="navbar-header" >
						<% if (user) { console.log(user.steamid);console.log(user.avatar); %>
						<a class="navbar-brand" href="#">
							<img height="50" class="img-circle" src="<%= user.avatar %>">
						</a>
						<% } %>
					</div>
					<div class="navbar-collapse collapse navbar-right">
						<ul class="nav navbar-nav navbar-left">
							<% if (!user) { %>
									<li><a href="auth/steam"><button type="button" class="btn btn-xs btn-default" >Steam Login</button></a></li>
									<li><a href="twitch/auth"><button type="button" class="btn btn-xs btn-default" >Twitch Login</button></a></li>
							<% } else { %>
									<li><a href='<%= user.profileurl %>'><%= user.personaname %></a></li>
									<li><a href='logout'><span class="glyphicon glyphicon-log-out"></span></a></li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
			<% include partials/panel-auspiciadores %>
			</div>


		</div>
	</div>
</div>
<% include partials/bootstrapjs %>
</body>
