<head>
  <% include ../partials/head %>
</head>
<body>

  <% include ../partials/google-analytics %>
	<% include ../partials/facebook %>
	<% include ../partials/header %>

  <!-- CONTENT -->

  <% include ../partials/footer %>
  <% include ../partials/bootstrapjs %>

</body>
